# Python cache
__pycache__/
*.pyc

.env

# Streamlit secrets file
.streamlit/secrets.toml

# Archivos de documentación personal y de IA
GEMINI.md

# Ignorar todos los archivos de imagen
*.png
*.jpg
*.jpeg
*.gif


# Archivos de desarrollo y pruebas
system.txt
chat_ejemplo.md
test_chat.py

# Entorno virtual
/.venv

# Archivos de logs
*.txt
